@media only screen and (max-width: 768px) {
    
    .nav__wrapper, .header__menu, .header__cta {
        align-items: baseline;
        justify-content: flex-start;
    }

    .nav__wrapper {
        position: fixed;
        right: -100%;
        top: 70.4px;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        transition: 0.3s;
        box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.068);
    }

    .nav__wrapper.activeMenu {
        right: 0;
        width: 70%;
        height: 100%;
    }

    .header__menu__items {
        margin: 16px 0;
    }

    .header__hamburger {
        display: block;
        cursor: pointer;
    }

    .header__nav {
        display: flex;
        justify-content: space-between;
        width: 90%;
    }

    .header__menu {
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        margin-top: 20px;
        width: 100%;
    }

    .header__cta {
        margin-left: 30px;
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        width: 230px;
        justify-content: space-between;
    }

    .header__cta li:first-child{
        order: 4;
    }

    .header__menu a {
        font-size: 20px;
        font-weight: 400;
    }

    .header__line {
        width: 90%;
        height: 2px;
        background-color: rgb(235, 235, 235);
        margin: 0 auto;
    }

    /* button animation */
    .header__hamburger.activeMenu .bar:nth-child(2) {
        opacity: 0;
    }

    .header__hamburger.activeMenu .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .header__hamburger.activeMenu .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* open menu items */
    .header__menu__items:first-child {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-items-btn {
        display: block;
        font-size: 25px;
        position: absolute;
        right: 10%;
    }

    .menu_items_wrapper {
        display: block;
        position: fixed;
        right: -100%;
        top: 70.4px;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        transition: 0.3s;
        box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.068);
    }

    .menu_items_wrapper.activeMenuItems {
        right: 0;
        width: 70%;
        height: 100%;
    }

    .header__menu__items {
        margin: 16px 0;
    }

    /* close menu items */
    .menu-items-close {
        text-align: center;
        margin: 0 auto;
        font-size: 23px;
        position: relative;
        width: 100%;
    }

    .menu-items-close::before {
        content: '<';
        position: absolute;
        left: 3%;
    }

    .menu_items {
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        margin-top: 20px;
        width: 100%;
    }

    .current::after {
        display: none;
    }

    .current {
        position: inherit;
    }


    /* MAIN ===============================*/

    .main .texts {
        width: 90%;
        margin: 0 auto;
    }


    /* FAVORITES ================== */

    .tabcontent_container .content {
        align-items: center;
    }

    .tabcontent_container .content p, .tabcontent_container .content h3 {
        text-align: center;
    }


    /* REWARDS ============================== */

    .rewards_container {
        width: 90%;
    }

    .rewards_content_2, .rewards_content_1 {
        width: 100%;
        max-width: 690px;
    }


    /* STAR CODES =========================== */
    .codes_container {
        width: 90%!important;
    }

    .codes_wrapper {
        width: 100%;
    }

    .codes_questions {
        width: 100%;
    }


    /* RESTRICTIONS =========================== */

    .restrictions .texts {
        width: 90%;
    }

    .restrictions_container {
        width: 90%;
    }

    .restrictions_container .col-1-myStyle,.col-2-myStyle {
        max-width: 100%;
    }


    /* FOOTER ============================== */

    .footer__mobile, .footer_icons, .footer_references, .footer_copyright, footer hr {
        width: 90%;
    }

    .footer_container {
        display: none;
    }

    .footer_references ul{
        flex-direction: column;
    }

    .footer_references_line {
        display: none;
    }

    .footer__mobile {
        display: block;
        margin: 0 auto;
        padding: 32px 0;
    }

    /* Style the button that is used to open and close the collapsible content */
    .footer__button {
        color: #444;
        background-color: #fff;
        cursor: pointer;
        padding: 20px 0;
        width: 100%;
        border: none;
        text-align: left;
        outline: none !important;
        font-size: 19px;
        font-weight: 400;
    }

    .footer__button:after {
        content: '\FE40'; /* Unicode character for "plus" sign (+) */
        font-size: 17px;
        font-weight: 700;
        color: black;
        float: right;
        margin-left: 5px;
    }

    .active:after {
        content: "\FE3F"; /* Unicode character for "minus" sign (-) */
    }
  
    /* Style the collapsible content. Note: hidden by default */
    .footer__content--is-open {
        padding: 5px 0;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    .footer__content--is-open a {
        font-size: 16px;
        color: #757575!important;
        font-weight: 400;
    }
}


@media only screen and (max-width: 425px) {
    .tab button {
        padding: 8px 0px 16px;
        transition: 0.3s;
        font-size: 18px;
        width: 70px;
    }
}