@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* HEADER ===============================*/

.header {
    position: sticky;
    top: 0;
    background-color: #fff;
    width: 100%;
}

.header__nav {
    width: 85%;
    display: flex;
    align-items: center;
    padding: 10px 0;
    margin: 0 auto;
}

.nav__wrapper, .header__menu, .header__cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__wrapper {
    width: 100%;
    margin: 0 auto;
}

.nav-link:hover{
    color: #482ff7;
}

.header__logo {
    width: 50px;
    height: 50px;
    display: block;
    margin-right: 27px;
}

.header__menu a, .header__cta a, button {
    font-family: 'Cabin', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #212121;
}

.header__menu__items a:hover {
    color: #008248;
    text-decoration: none;
}

.header__cta button {
    padding: 7px 16px;
    border: 1px solid black;
    border-radius: 20px;
}

.sign_in {
    background-color: white;
}

.sign_in:hover {
    background-color: rgb(238, 238, 238);
    cursor: pointer;
    transition: 0.5s;
}

.join_now {
    background-color: black;
    color: white!important;
}

.join_now:hover {
    background-color: rgb(59, 59, 59);
    cursor: pointer;
    transition: 0.5s;
}

/* nav Banner */
.nav_banner {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #1e3932;
    color: white;
    align-items: center;
}

.nav_banner p {
    width: 75%;
    margin: 0 auto;
    font-family: 'Cabin', sans-serif;
    font-size: 14px;
    font-weight: 700;
}


/* Hamburger */
.header__hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.menu_items_wrapper {
    display: none;
}

.menu-items-btn {
    display: none;
}

/* Active reward tab */
.current {
    position: relative;
}

.current::after {
    content: '';
    width: 67%;
    height: 4px;
    background-color: #008248;
    display: block;
    position: absolute;
    bottom: -48%;
}

/* MAIN ===============================*/

.main {
    height: 85vh;
    width: 100%;
    display: flex;
    background-image: url("https://www.starbucks.com/weblx/images/rewards/hero/xl-hero-desktop_2021.png");
    background-size: cover;
    background-position: center;
    background-color: #D4E9E2;
    align-items: center;
    width: 100%;
}

.main .texts {
    width: 75%;
    margin: 0 auto;
}

.main .texts h1  {
    font-size: 36px;
    line-height: 46px;
    font-weight: 600;
}

.main .texts p  {
    font-size: 19px;
    line-height: 29px;
    font-weight: 400;
    margin-top: 16px;
}

.main .texts button{
    font-weight: 400;
    padding: 7px 16px;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 32px;
    background-color: #008248;
    border: none;
}

.main .texts button:hover{
    background-color: #068b4f;
    transition: 0.5s;
    color: white;
}

.main .texts button a {
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.main .texts a {
    font-size: 19px;
    font-weight: normal;
    text-decoration: underline;
    color: black;
}

.main .texts a:hover {
    text-decoration: none;
    color: black;
}


/* STEPS ============================ */

.getting_started {
    margin: 128px  0;
    width: 100%;
}

.getting_started .container {
    width: 85%;
    margin: 0 auto;
    text-align: center;
}

.getting_started .container .title h3{
    font-size: 28px;
    line-height: 39px;
    font-weight: 600;
    margin: 0;
}

.getting_started .container .title p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    padding-top: 16px;
}

.getting_started .container .steps_container {
    display: flex;
    gap: 24px;
    padding-top: 48px;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
}

.getting_started .container .steps_container .steps img {
    width: 48px;
    height: auto;
    padding-bottom: 24px;
}

.getting_started .container .steps_container .steps .sb-heading {
    font-size: 19px;
    line-height: 1.53;
    font-weight: 600;
    margin: 0;
}

.getting_started .container .steps_container .steps .desc {
    padding-top: 16px;
    line-height: 24px;
    font-weight: normal;
    font-size: 16px;
}

.getting_started .container .steps_container .steps a {
    color: #008248;
    text-decoration: underline;
    line-height: 24px;
    font-weight: normal;
    font-size: 16px;
}

.getting_started .container .steps_container .steps a:hover {
    text-decoration: none;
}


/* FAVORITES ================== */
.favorites {
    width: 100%;
    background-color: #F1F8F5;
    margin-bottom: 100px;
}

.favorites .container {
    width: 85%;
    margin: 0 auto;
    text-align: center;
    font-size: 28px;
    line-height: 39px;
    font-weight: 600;
    padding: 48px 0;
}

/* TAB */

.tab {
    overflow: hidden;
    background-color: #F1F8F5;
    margin: auto;
    display: flex;
    justify-content: center;
}

.tablinks_container {
    display: flex;
    flex-direction: column;
}

.tab_container {
    width: 100%;
    background-color: #D4E9E2;
    box-shadow: 0px 1px 5px grey inset;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 8px 16px;
    transition: 0.3s;
    font-size: 24px;
    width: 100px;
}
  
/* Create an active/current tablink class */
.tab button.line {
    border-bottom: 2px solid #008248;
}

/* Style the tab content */

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    animation: fadeEffect 1s; 
}

.tabcontent_container {
    display: flex;
    justify-content: center;
    padding: 32px 0;
    flex-wrap: wrap;
}

.tabcontent_container .content {
    width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 16px;
}

.tabcontent_container .content h3 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    padding-bottom: 16px;
}

.tabcontent_container .content p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}


/* ENDLESS EXTRAS ============================== */

.extras {
    width: 100%;
}

.extras_container {
    width: 85%;
    margin: 0 auto;
}

.extras_title {
    text-align: center;
    max-width: 680px;
    margin: 0 auto;
}

.extras_title h3 {
    font-size: 28px;
    font-weight: 600;
    line-height: 39px;
    margin: 0;
}

.extras_title p {
    padding-top: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.extras_content_container {
    display: flex;
    padding-top: 49px;
    gap: 48px;
    justify-content: center;
    flex-wrap: wrap;
}

.extras_content {
    max-width: 395px;
    text-align: center;
}

.extras_content img, .extras_content img:hover {
    padding-bottom: 24px;
    cursor: pointer;
    background-color: #fff !important;
    border: none;
}

.extras_content p {
    padding-top: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}

.extras_content h3 {
    padding-top: 16px;
    font-size: 19px;
    font-weight: 600;
    line-height: 24px;
    margin: 0;
}

.extras_content .link a{
    margin: 16px 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #006241;
}

.extras_content .link a:hover{
    text-decoration: underline;
}

/* MODAL ===================*/
.modal-dialog {
    max-width: 420px;
    position: relative;
  }
  
  .wrap-modal-slider {
    padding: 0 30px;
    opacity: 0;
    transition: all 0.3s;
  }
  
  .wrap-modal-slider.open {
    opacity: 1;
  }
  
  .priv_arrow:hover, .next_arrow:hover {
    background-color: rgb(241, 241, 241);
    padding: 7px 15px;
    border-radius: 45%;
    transition: 0.3s;
  }

  .priv_arrow {
    position: absolute;
    bottom: -55px;
    left: 50px;
    padding: 7px 15px;
    color: #6B6B6B;
  }

  .next_arrow {
    position: absolute;
    bottom: -55px;
    right: 50px;
    padding: 7px 15px;
    color: #6B6B6B;
  }  

  .slick-dots {
    position: absolute;
    bottom: -45px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
  }

  .slick-disabled {
    display: none;
    visibility: hidden;
  }

  .ok {
    visibility: hidden;
  }

.modal-header {
    border-bottom: none;
}

.modal-header .close {
    font-size: 50px;
    font-weight: 100;
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 1;
}

.modal-footer {
    border-top: none;
    margin-top: 5px;
}

.modal-footer .ok {
    color: #008248;
    background-color: #fff;
    border: 1px solid #008248;
    border-radius: 30%;
    padding: 3px 15px;
    position: absolute;
    bottom: 6%;
    right: 8%;
}

.modal-footer .ok:hover {
    background-color: #ecfff6;
}

.modal-slide img {
    width: 100%;
}

.modal-slide h3 {
    font-size: 19px;
    font-weight: 600;
    text-align: center;
    padding: 16px 0;
    margin-bottom: 0;
}

.modal-slide p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}



/* REWARDS ==================================== */

.rewards {
    width: 100%;
    background-color: #F2F0EA;
    margin-top: 128px;
}

.rewards_container {
    width: 75%;
    margin: 0 auto;
    padding: 48px 0;
}


.rewards_title {
    text-align: center;
    margin: 0 auto 84px auto;
    max-width: 680px;
}

.rewards_title h3 {
    font-size: 28px;
    line-height: 39px;
    font-weight: 600;
    padding-bottom: 16px;
}

.rewards_title p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.rewards_content_container {
    display: flex;
}

.rewards_content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 70px;
    flex-wrap: wrap;
}

.rewards_content_1 {
    max-width: 190px;
}

.rewards_content_1 h3 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
}

.rewards_content_1 p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.rewards_content_2 {
    display: flex;
    padding: 0 24px;
    max-width: 456px;
}

.rewards_content_2 img{
    width: 112px;
    padding-right: 16px;
}

.rewards_texts h3 {
    font-size: 19px;
    line-height: 29px;
    font-weight: 600;
}

.rewards_texts p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    padding-top: 16px;
}

.rewards_texts a {
    color: #008248;
}

hr {
    margin: 48px 0;
}


/* STAR CODES =========================== */

.codes {
    width: 100%;
    margin: 128px 0;
}

.codes_container {
    width: 60%;
    margin: 0 auto;
}

.codes_container .codes_wrapper h3 {
    padding-bottom: 16px;
    font-size: 28px;
    font-weight: 600;
    line-height: 39px;
}

.codes_container .codes_wrapper p {
    padding-bottom: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

form {
    display: flex;
    flex-direction: column;
}

form .input {
    width: 100%;
    padding: 12px 16px;
    border: 1px solid grey;
    border-radius: 15px;
    font-size: 19px;
}

form .button {
    width: 90px;
    padding: 7px 16px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px 0 0 auto;
    background-color: white;
    font-size: 16px;
}

form .button:hover {
    background-color: rgb(238, 238, 238);
    cursor: pointer;
    transition: 0.5s;
}

.codes_wrapper {
    width: 50%;
}

.codes_links {
    margin: 32px 0 128px 0;
}

.codes_links p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.codes_links a {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #008248;
    text-decoration: underline;
}

.codes_links a:hover {
    text-decoration: none;
}

.codes_questions h3 {
    padding-bottom: 16px;
    font-size: 28px;
    font-weight: 600;
    line-height: 39px;
}

.codes_questions p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.codes_questions a {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #008248;
    text-decoration: underline;
}

.codes_questions a:hover {
    text-decoration: none;
}

.codes_questions {
    width: 50%;
}


/* RESTRICTIONS =========================== */
.restrictions {
    width: 100%;
    padding: 48px 0;
    background-color: #F9F9F9;
}

.restrictions .texts {
    width: 75%;
    margin: 0 auto;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.restrictions_container {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.restrictions_container .col-1-myStyle,.col-2-myStyle {
    max-width: 48%;
}

.restrictions_container .col-1-myStyle h3,.col-2-myStyle h3{
    padding: 32px 0 16px 0;
    font-size: 14px;
    line-height: 21px;
    color: #686868;
    font-weight: 700;
}

.restrictions_container .col-1-myStyle p,.col-2-myStyle p{
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.restrictions_container a {
    color: #008248;
}


/* FOOTER ====================================== */

footer {
    width: 100%;
    margin-top: 48px;
    box-shadow: 0px 1px 5px grey ;
}

.footer_container {
    width: 75%;
    display: flex;
    gap: 32px;
    margin: 0 auto;
    padding: 48px 0;
}

.footer_links {
    max-width: 190px;
}

.footer_links h3 {
    margin-bottom: 24px;
    font-size: 19px;
    line-height: 29px;
    font-weight: 400;
}

.footer_links ul li {
    padding: 8px 0;
    margin-bottom: 8px;
}

.footer_links ul li a {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.footer_links ul li a:hover {
    color: #000000;
    text-decoration: none;
}

.footer_icons {
    width: 75%;
    margin: 42px auto 4px auto;
}

.footer_icons ul {
    display: flex;
    gap: 5px;
}

.footer_icons ul li {
    padding: 7px 7px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}

.footer_icons ul li:hover {
    padding: 7px 7px;
    background-color: rgb(236, 236, 236);
    border-radius: 50%;
    transition: .5s;
}

.footer_icons ul li svg {
    color: black;
}

.footer_icons ul li svg:hover {
    color: black;
}

.footer_references {
    width: 75%;
    margin: 16px auto 4px auto;
}

.footer_references ul {
    display: flex;
    gap: 15px;
}

.footer_references ul li a {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: black;
}

.footer_references ul li a:hover {
    text-decoration: underline;
    color: black;
}

.footer_references .line {
    padding: 0 24px;
}

.footer_copyright {
    width: 75%;
    margin: 0 auto;
    padding: 16px 0 64px 0;
    color: #6B6B6B;
    font-size: 14px;
    font-weight: 400;
}

footer hr {
    width: 75%;
    margin: 0 auto;
}


.footer__mobile {
    display: none;
}